body{
  background-image: url(../assets/image/bgR6S.jpg);
  position: relative;
	width: 100%; 
	height: 100%;
	background-size: cover;
  margin: 0%;
  padding: 0%;
}

.containerGrafico{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.graph {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: rgba(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.392);
    width: 800px;
    height: 600px;
    margin-top: 10px;
}

@font-face {
    font-family: 'font-rainbow';
    src: url(../assets/font/Rainbow.ttf) format('truetype');
}


.tituloGrafico {
  font-family: font-rainbow;
  font-style: italic;
  font-size: 45px;
}

#myChartCanvas canvas{
    height:100%;
    margin-top: 25px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: #fdfeff; 
}

