/*
Fontes disponiveis:
-------------------
font-family: 'Inter', sans-serif;
font-family: 'Jockey One', sans-serif;
font-family: 'Lato', sans-serif;
*/

body{
    background-image: url("../assets/image/bgR6S.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}


/*--Capa Operadores--*/

.capaOperadores img{
    display: flex;
    width: 100%;
    border: 2px solid black;
    box-shadow: 0px 19px 8px rgba(0,0,0,0.6);
}

/*--Container do conteúdo--*/

#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: 5px solid white;
    box-shadow: 16px 16px 3px rgba(0,0,0,0.5);
    border-radius: 12px;
    font-size: 18px;
    margin: 80px;
    padding: 20px;

}

#container h1{
    font-size: 29px;
    text-align: left;
}

#container p {
    font-family: 'Inter', sans-serif;
    text-align: justify;
}

#container b {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

/*--TOM CLANCY'S--*/

.tomClancys{
    width: 620px;
    margin: 38px;
}

.tomClancys img {
    width: 160px;
    height: 220px;
}

.tomClancys figure span{
    font-size: 15px;
    padding: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.tomClancysConteudo p {

    text-align: left;   
}

.tomClancysConteudo figure {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
}

/*--O COMEÇO--*/

.containerComeco{
    display: flex;
    flex-direction: column;
    width: 620px;
    margin: 38px;
    margin-top: 0;

}

.oComeco{
    display: flex;
    flex-direction: column;
}

.oComeco h2{
    margin-bottom: 20px;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.Img1998 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 20px;  
}

.Img1998 figcaption {
    padding: 10px;
}

.Img1998 p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.book {
    height: 242px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.game {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
}

/*-- JOGO TÁTICO --*/

.jogoTatico{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 620px;
    margin: 38px;
}

.jogoTatico img{
    width: 430px;
    height: 280px;
    margin: 30px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.jogoTatico p{
    margin-top: 0;
}

/*-- JOGOS RAINBOW --*/

#conteudoJogos{
    display: flex;
    justify-content: center;
}

.jogosRainbow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: rgb(0, 0, 0);
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 16px 16px 3px rgba(0,0,0,0.5);
    width: 83%;
    padding: 40px;
    margin: 5px 40px;
    border-radius: 8px;
}

.jogosRainbow h1 {
    margin: 18px;
}

.jogosRainbow p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 10px;
    color: white;
    padding: 4px;
}

.jogosRainbow img {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
    height: 180px;
    width: 140px;   
    margin-bottom: 10px;
}

.todosJogos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
}

/*-- O SIEGE --*/

.oSiege{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 620px;
    margin: 20px 38px;
}

.oSiege p{
    font-family: 'Inter', sans-serif;
    text-align: justify;
}

.oSiege h1{
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.siege-img{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 20px;
}

.oSiege img {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin: 20px;
}
