/*
Fontes disponiveis:
-------------------
font-family: 'Inter', sans-serif;
font-family: 'Jockey One', sans-serif;
font-family: 'Lato', sans-serif;
*/


@font-face {
    font-family: 'font-rainbow';
    src: url(../assets/font/Rainbow.ttf) format('truetype');
}

#backgroundVideo {
    background-size: cover;
    padding: 0;
}

.bg_video {
	position: relative;
	width: 100%;
	max-height: 100%;
	background-size: cover;
    margin: 0%;
    padding: 0%;
}

.logo-home {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#logo-infosix {
    height: 530px;
    width: 1000px;
    margin: 0%;
    padding: 0%;
    position: relative;
    top: 0;
    left: 0;
}

/*--A Gameplay (Video)--*/

.gameplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/image/Loading-Bank_V2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 520px;
    padding: 37px 40px 70px 40px;
}

.boxVideo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 32px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 6px;
    /* padding: 20px; */
    height: 388px;
    width: 700px;
}

.gameplay h1{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    border: 2px solid black;
    box-shadow: 6px 6px 3px rgba(0,0,0,0.5);
    background-color: rgba(0, 0, 0, 0.764);
    color: white;
    font-size: 31px;
    margin-bottom: 23px;
    padding: 8px;
    border-radius: 3px;
}

.boxVideo iframe {
    size: cover;    
    border-radius: 4px;
}

/*--O INFOSIX--*/

.oInfoSix{
    background-image: url("../assets/image/bgR6S.jpg");
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 70px;
}

.oInfoSix_Txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 32px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 5px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 6px;
    padding: 50px;
    color: white;
    height: 300px;
    width: 600px;
    z-index: 2;
}

.oInfoSix_Txt p{
    font-family: 'Inter', sans-serif;
    text-align: left;
    margin-top: 22px;
    margin-bottom: 110px;
    width: 510px;
    font-size: 19px;
}

.oInfoSix_Txt h1{
    display: flex;
    text-align: left;
    font-style: italic;
    font-size: 40px;
    margin: 0;
}

.img-fenrir {
    height: 609px;
    width: 780px;
    display: flex;
    position: absolute;
    left: 42%;
    top: 118%;
    z-index: 1;
}

/*Titulo News - Slider*/

.news{
    padding: 18px 80px 30px 80px;
    margin: 50px;
}

.tituloNews{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.33);
    padding: 6px;
    border-radius: 5px;
}

.logoNews{
    width: 50px;
    padding: 0px 8px 0px 8px;
}

.h1News{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 50px;
    text-align: center; 
    margin-top: 48px;   
    margin: 0;
}

/*Slider de Notícias*/

.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 8px;
    border: 4px solid black;
    box-shadow: 10px 10px 3px rgba(0,0,0,0.5);
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #2a97fa;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #2a97fa;
}

#radio1:checked ~ .first{
    margin-left:0;
}

#radio2:checked ~ .first{
    margin-left:-25%;
}

#radio3:checked ~ .first{
    margin-left:-50%;
}

#radio4:checked ~ .first{
    margin-left:-75%;
}

.navigation-auto div{
    border: 2px solid #2a97fa;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #2a97fa;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #2a97fa;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #2a97fa;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #2a97fa;
}
