/*
Fontes disponiveis:
-------------------
font-family: 'Inter', sans-serif;
font-family: 'Jockey One', sans-serif;
font-family: 'Lato', sans-serif;
*/

body{
    background-image: url(../assets/image/bgR6S.jpg);
    min-height: 100%;
    background-size: cover;   
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: luminosity;
    margin: 0;
}

h1{
    font-family: 'Jockey One', sans-serif;
    font-weight: 400;
    font-size: xx-large;
    margin-top: 0;
}

span{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;   
}

#containerBoxLogin{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 50px;
   
}

.boxLogin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 570px;
    width: 1100px;   
    margin-bottom: 100px;
}

.img-login-background img{
    height: 570px;
    width: 680px;
    border-radius: 6px 0px 0px 6px;
}

.containerDadosLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 6px 6px 0px; 
    padding: 35px;
    height: 500px;
    width: 460px;
    top: 0;
    right: 25%;
 }

.tituloLogin{
    display: flex;
    justify-content: center;
}

.boxLogin input{
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    background-color: #D9D9D9;
    border-style: none;
    height: 39px;
    width: 430px;
    margin-bottom: 30px;
    border-radius: 6px;
    padding-left: 15px;
 
}

.botaoLogar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.botaoLogar button{
    text-align: center;
    font-size: medium;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-style: bold;
    background-color: #403f3f;
    color: #fffdfd;
    margin-top: 15px;
    border-radius: 4px;
    height: 40px;
    width: 200px;
    position:relative;
    top:0;
    padding:4px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.botaoLogar:hover button {
    top: -3px;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.427);
}


.link-cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.link-cadastro a {
    font-family: 'Inter', sans-serif;
    padding: 2px;
}

