/*
Fontes disponiveis:
-------------------
font-family: 'Inter', sans-serif;
font-family: 'Jockey One', sans-serif;
font-family: 'Lato', sans-serif;
*/

body{
    background-image: url(../assets/imagens/bgHome.png);
    min-height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: difference;
    margin: 0;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  
}

figure p {
    font-size: 15px;
    margin: 0;
}

figcaption{
    text-align: center;
}

figcaption p{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

h1{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*--NavBar--*/

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: auto;
    height: 70px;
}

.separator-bar{
    cursor: pointer;
}

#navbar a, #link-login-cadastro-access {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 11px;
    letter-spacing: 6%;
}

.logo img{
    display: flex;
    align-items: center;
    width: 120px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

#link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* #link-login-cadastro-access {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 11px;
    letter-spacing: 6%;
} */

#linkLoginCadastro, #link-login-cadastro-access{
    margin-right: 20px;
}

.link-nav{
    position:relative;
    top:0;
    padding:4px;
    transition: all .2s ease-in-out;
}

.link-nav:hover {
    top:-3px;
    border-radius: 4px;
    box-shadow:0px 1px 1px 1px #fff9f9
}

/*--Capa Operadores--*/

.capaOperadores img{
    display: flex;
    width: 100%;
}

/*--Container do conteúdo--*/

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 45px 150px 45px 150px;
    font-size: 23px;
}

#container h1{
    font-size: 29px;
    margin-bottom: 0;
}

#container p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

#container b {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

/*--O INFOSIX--*/

.oInfoSix{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.oInfoSix img{
    width: 370px;
    height: 230px;  
    margin-right: 80px;
}

.oInfoSix_Txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 500px;
}

.oInfoSix_Txt h1{
    display: flex;
    text-align: left;
}

/*--TOM CLANCY'S--*/

.tomClancys{
    margin-top:100px;
}

.tomClancys h1{
    display: flex;
    text-align: left;
    width: 880px;
}

.tomClancys img {
    width: 160px;
    height: 220px;
}

.tomClancys figure span{
    font-size: 15px;
    padding: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.tomClancys p {
    margin: 0;
    width: 570px;
}

.tomClancysConteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-right: 70px;
    width: 810px;
}

/*--O COMEÇO--*/

.containerComeco{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:70px;
}

.oComeco{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.oComeco h2{
    margin-bottom: 20px;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.Img1998 {
    display: flex;
    flex-direction: row;
    margin-right: 78px;
}

.oComecoTxt {
    width: 5    00px;
}

.book {
    height: 242px;
    padding: 0px 20px;
}

/*-- JOGO TÁTICO --*/

.jogoTatico{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:50px;
}

.jogoTatico img{
    width: 430px;
    height: 280px;
}

.jogoTatico p{
    width: 500px;
    margin-top: 0;
}

/*-- JOGOS RAINBOW --*/

#conteudoJogos{
    display: flex;
    justify-content: center;
}

.jogosRainbow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1210px;
    background: rgba(0, 0, 0, 0.65);
    padding: 20px;
    margin-top: 60px;
}

.jogosRainbow p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 10px;
    color: white;
    
    padding: 4px;
}

.jogosRainbow img {
    height: 180px;
    width: 140px;   
    margin-bottom: 20px;
}

/*-- O SIEGE --*/

.oSiege{
    margin: 60px 0px;
}

.siege-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 70px;
    height: 300px;
}

.siege-img img{
    height: 249px;  
    width: 390px;       
}


/*-- FOOTER --*/

.black-div{
    background-color: black;
    height: 160px;
}

.grey-div{
    background-color: #232121;
}

#footer{
    display: flex;
    flex-direction: column;
    bottom: 0;
    left:0;
    margin: auto;
    width: 100%;
}

#footer P {
   color:white ;
   font-family: Arial, Helvetica, sans-serif;
}

.logoFooter {
    width: 130px;
    height: 70px;
    margin-left: 25px;
}

.contentFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.redesSociais img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.direitosTxt{
    font-size: 8px;
}

.mensagem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
}


  









