/*
Fontes disponiveis:
-------------------
font-family: 'Inter', sans-serif;
font-family: 'Jockey One', sans-serif;
font-family: 'Lato', sans-serif;
*/

body{
    background-image: url(../assets/imagens/bgHome.png);
    min-height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: difference;
    margin: 0;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  
}

figure p {
    font-size: 15px;
    margin: 0;
}

figcaption{
    text-align: center;
}

figcaption p{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

h1{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*--NavBar--*/

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: auto;
    height: 70px;
}

.separator-bar{
    cursor: pointer;
}

#navbar a, #link-login-cadastro-access {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 11px;
    letter-spacing: 6%;
}

.logo img{
    display: flex;
    align-items: center;
    width: 120px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

#link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#linkLoginCadastro, #link-login-cadastro-access{
    margin-right: 20px;
}

#link-login-cadastro-access{
    cursor: pointer;
}

.link-nav{
    position:relative;
    top:0;
    padding:4px;
    transition: all .2s ease-in-out;
}

.link-nav:hover {
    top:-3px;
    border-radius: 4px;
    box-shadow:0px 1px 1px 1px #fff9f9
}

/*--Sub-menu--*/

.sub-menu-wrap{
    position: fixed;
    top: 10%;
    right: 1%;
    width: 160px;
    border-radius: 6px;
    max-height: 0px;
    overflow: hidden;
    z-index: 1;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 63px;
}

.sub-menu{
    background: #000000;
}

.user-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info h2{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    letter-spacing: 6%;
    margin: 0;
}

.user-info img{
    height: 25px;
    width: 25px;
    padding: 8px;
}

.sub-menu-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 4px;
}


/*-- FOOTER --*/

.black-div{
    background-color: black;
    height: 160px;
}

.grey-div{
    background-color: #232121;
}

#footer{
    display: flex;
    flex-direction: column;
    bottom: 0;
    left:0;
    margin: auto;
    width: 100%;
}

#footer P {
   color:white ;
   font-family: Arial, Helvetica, sans-serif;
}

.logoFooter {
    width: 130px;
    height: 70px;
    margin-left: 25px;
}

.contentFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.redesSociais img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.direitosTxt{
    font-size: 8px;
}

.mensagem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
}


  









